body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-box {
  width: 30rem;
  height: 20rem;
  background-color: rgb(255, 255, 255);
  margin-left: 3rem;
  border-radius: 2rem;
  border: 3px solid rgb(201, 158, 17);
}

#replay-btn {
  margin-top: 2rem;
}
